@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@layer components {
    .animate-in {
        animation-duration: 200ms;
        animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }

    .fade-in {
        animation-name: fadeIn;
    }

    .zoom-in-95 {
        animation-name: zoomIn;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    @keyframes zoomIn {
        from {
            transform: scale(0.95);
            opacity: 0;
        }

        to {
            transform: scale(1);
            opacity: 1;
        }
    }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #1e293b;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #334155;
}